# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Mediascan package install dirs
**/moongas-mediascan-go
**/moongas-mediascan-python
**/moongas-mediatest-python-pytest
**/moongas-mediascripts-python
**/moongas-mediatunes-svc-python-blacksheep
**/moongas-mediatunes-web-vue

# Mediascan output files
**/mediascan-files.yml
**/mediascan-artists.yml
**/mediascan.db

# bakup files
**/*.bak

# Scripts
artist-countries-to-mapgraph-json
artist-csv-to-artist-yaml
artist-yaml-auto-populate
artist-yaml-reformat-with-files-yaml
artist-yaml-test-with-files-yaml
convert-covers
convert-videos
copy-artist-yaml-files-from-demo-to-local
copy-lrc-files-from-local-to-demo
copy-media-files-to-artist-yaml
copy-medialib
generate-dataclasses
genre-clusters
list-artists-from-files-yaml
list-missing-region-names
make-covers-video
mediastats
mediatest
mediatunes-svc
play-rand-file-from-files-yaml
rename-album-files
restart-local-services
restart-remote-services
scan-to-artists-yaml
scan-to-db
scan-to-files-yaml
scan-to-track-yaml
set-active-collection-demo
set-active-collection-local
show-collection-status
update-covers
update-everything
upload-covers
upload-mediascan-db
upload-moongas-mediascan-python
upload-moongas-mediatunes-svc-python-blacksheep
upload-moongas-mediatunes-web-vue
